[submodule "k8s-templates"]
	path = k8s-templates
	url = https://github.com/UnconventionalMindset/k8s-templates
[submodule "ansible-automations"]
	path = ansible-automations
	url = https://github.com/UnconventionalMindset/ansible-automations
[submodule "terraform-automations"]
	path = terraform-automations
	url = https://github.com/UnconventionalMindset/terraform-automations
[submodule "pkl-k8s"]
	path = pkl-k8s
	url = https://github.com/UnconventionalMindset/pkl-k8s
